/* Stylesheet */
/* This site borrows from the styling utilized by iPod Touch apps from the 2008 era, which attempted a similar goal as this site. */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,main,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* Styling for all pages */

html {
	background-color: #ddd;
}
#dexred {
	background-color: #cc2222;
	padding: 1em 0 1em 0;
	box-shadow: inset 0 0 1em black;
	border: .25em solid #dd3333;
}
header {
	margin: 0 3em 1em 3em;
	padding: .2em 0 .8em 0;
	border: .25em solid #dd3333;
	box-shadow: 0 .125em 1em rgba(0, 0, 0, .8);
	background-color: #ffefef;
}
h1 {
	font-size: 4em;
	font-family: 'Neucha', serif;
	text-align: center;
	font-weight: bold;
	color: #111;
}
main.mainbox {
	background-color: #888;
	border: .125em solid #222;
	padding: 1em 2em 1em 2em;
	margin: 0 1em 0 1em;
	box-shadow: inset 0 0 1em black,inset 0 0 1em black;
}
/*a:visited {}*/
footer {
	margin-top: 0;
	padding: .25em;
	border-top: .25em solid #444444;
	background-color: #ddd;
}
#ftr {
	font-size: .65em;
}



/* Main page only */
ul#firstmenu {
	border: .25em solid #222;
	padding: .5em;
	background-color: #990000;
	box-shadow: inset 0 0 .5em black;
}
li.firstpg {
	border: .125em solid #bbb;
	background-color: #444;
	font-family: 'Courier';
	font-weight: 600;
	margin-bottom: .5em;
	padding: .75em;
	text-align: center;
	box-shadow: 0 0 .1875em black,0 0 .1875em black,0 0 .1875em black;
}
li.firstpg:last-child {
	margin-bottom: 0;
}
li.firstpg a {
	font-size: 2em;
	text-decoration: none;
	color: #ddd;
	text-shadow: 0 0 .25em #0088ff,0 0 .25em #0088ff;
}


/* Game page only */
div.gamebarone {
	background-color: #cccccc;
	border: .25em solid black;
	border-style: outset;
	margin: 0 25% 0 25%; /* because THAT makes sense? https://stackoverflow.com/questions/2624159/centering-a-percent-based-div */
	text-align: center;
}
div.gamebartwo { /* what is actually selectable */
	padding: .5em 0 .5em 0;
}
a.addgame {
	text-decoration: none;
}
h2 {
	font-size: 2em;
	font-family: 'Neucha', serif;
	text-align: center;
	font-weight: bold;
	color: #111;
	display: inline-block;
}
ul.gamelist {
	margin-top: .5em;
	background-color: black;
	border: .25em solid #cccccc;
	border-style: outset;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: .5em;
}
ul.gamelist li {
	color: black;
}
ul.ulGame {
	background-position: 140% 50%;
	background-repeat: no-repeat;
	border: .25em solid #ffffff; /*this will be overwritten*/
	border-style: ridge;
	padding: .25em;
	width: 10.5em;
	height: 4em;
	margin-bottom: .5em;
	overflow-y: scroll;
}ul.ulGame:last-child{margin-bottom: 0;}
/* media query > 1515px; width: 10%; */
ul.ulGame li {
	color: black;
	font-family: 'Comic Sans MS',sans-serif;
}
ul.gRuby {background-color: #aa1111;border-color: #cc1111;
background-image:linear-gradient(rgba(255,255,255,0), rgba(255,0,0,.8)), url('https://play.pokemonshowdown.com/sprites/gen5/groudon.png');}
ul.gSapp {background-color: #1155aa;border-color: #002288;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,255,.8)), url('https://play.pokemonshowdown.com/sprites/gen5/kyogre.png');}
ul.gColo {background-color: #220f40;border-color: #cc3300;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.3)), url('https://play.pokemonshowdown.com/sprites/gen5/celebi.png');}ul.gColo li {color:#eeeeee;}
ul.gFiRe {background-color: #cc3322;border-color: #bb2222;
background-image:linear-gradient(rgba(255,255,255,0), rgba(255,175,99,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/charizard.png');}
ul.gLeGr {background-color: #33cc22;border-color: #119911;
background-image:linear-gradient(rgba(255,255,255,0), rgba(150,255,0,.7)), url('https://play.pokemonshowdown.com/sprites/gen5/venusaur.png');}
ul.gEmer {background-color: #119933;border-color: #007711;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,150,99,.6)), url('https://play.pokemonshowdown.com/sprites/gen5/rayquaza.png');}
ul.gGale {background-color: #331166;border-color: #bbbbcc;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://www.serebii.net/xd/pokemon/249.png');background-position: 110% 50%;}ul.gGale li {color:#eeeeee;}
ul.gDiam {background-color: #405080;border-color: #c0e0e0;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/dialga.png');}ul.gDiam li {color:#cccccc;}
ul.gPear {background-color: #e0d0d0;border-color: #a070a0;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/palkia.png');}
ul.gPlat {background-color: #dddddd;border-color: #ee3333;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/giratina.png');}
ul.gHeGo {background-color: #ff5020;border-color: #d09030;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/hooh.png');}
ul.gSoSi {background-color: #99ccff;border-color: #eeeeee;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/lugia.png');}
ul.gB1 {background-color: #111111;border-color: #999999;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/reshiram.png');}ul.gB1 li {color:#eeeeee;}
ul.gW1 {background-color: #eeeeee;border-color: #999999;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/zekrom.png');}
ul.gB2 {background-color: #111111;border-color: #99ccff;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/kyurem-black.png');}ul.gB2 li {color:#eeeeee;}
ul.gW2 {background-color: #eeeeee;border-color: #ee4400;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/kyurem-white.png');}
ul.gEcks {background-color: #7080c0;border-color: #f0f0c0;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/xerneas.png');}
ul.gWhy {background-color: #334040;border-color: #ee4030;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/yveltal.png');}ul.gWhy li {color:#eeeeee;}
ul.gOmeg {background-color: #ee0000;border-color: #f0f0c0;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/groudon-primal.png');}
ul.gAlph {background-color: #2030c0;border-color: #f0f0c0;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/kyogre-primal.png');}
ul.gVCR {background-color: #dd0000;border-color: #f00000;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.2)), url('https://www.serebii.net/pokearth/sprites/rb/006.png');background-position: 110% 50%;}
ul.gVCB {background-color: #0033cc;border-color: #0044f0;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.2)), url('https://www.serebii.net/pokearth/sprites/rb/009.png');background-position: 110% 50%;}
ul.gVCY {background-color: #dddd00;border-color: #f0f000;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.2)), url('https://www.serebii.net/pokearth/sprites/yellow/025.png');background-position: 110% 50%;}
ul.gGo {background-color: #eeeeee;border-color: #cccc00;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/meltan.png');}ul.gGo li {color:#002299;}
ul.gSun {background-color: #bb0022;border-color: #ffaa33;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/solgaleo.png');}ul.gSun li {color:#ffddbb;}
ul.gMoon {background-color: #4400ff;border-color: #4499ff;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/lunala.png');}ul.gMoon li {color:#bbddff;}
ul.gVCG {background-color: #ae944a;border-color: #ceb46a;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.2)), url('https://www.serebii.net/pokearth/sprites/gold/250.png');background-position: 110% 50%;}
ul.gVCS {background-color: #8a8a8a;border-color: #9a9a9a;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.2)), url('https://www.serebii.net/pokearth/sprites/silver/249.png');background-position: 110% 50%;}
ul.gUS {background-color: #bb0022;border-color: #ffaa33;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/necrozma-duskmane.png');}ul.gUS li {color:#ffddbb;}
ul.gUM {background-color: #4400ff;border-color: #4499ff;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/necrozma-dawnwings.png');}ul.gUM li {color:#bbddff;}
ul.gVCC {background-color: #70a0b0;border-color: #90c0d0;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.2)), url('https://www.serebii.net/pokearth/sprites/crystal/245.png');background-position: 110% 50%;}
ul.gLGP {background-color: #ffff55;border-color: #ffff55;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/pikachu-partner.png');}
ul.gLGE {background-color: #cc8844;border-color: #cc8844;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/eevee-starter.png');}
ul.gSwor {background-color: #0044ff;border-color: #eeeeee;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/zacian.png');}ul.gSwor li {color:#000066;text-shadow: 0 0 .125em #ffffff,0 0 .125em #ffffff,0 0 .125em #ffffff;}
ul.gShie {background-color: #ff0044;border-color: #eeeeee;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.5)), url('https://play.pokemonshowdown.com/sprites/gen5/zamazenta.png');}ul.gShie li {color:#660000;text-shadow: 0 0 .125em #ffffff,0 0 .125em #ffffff,0 0 .125em #ffffff;}
ul.gHome {background-color: #d0ffd0;border-color: #eeeeee;
background-image:linear-gradient(rgba(255,255,255,0), rgba(0,255,125,.5))}ul.gHome li {color:#006655;}
ul.gPLA {background-color: #224466;border-color: #bb0000;
background-image:linear-gradient(rgba(255,255,255,0), rgba(255,99,0,.3)), url('https://play.pokemonshowdown.com/sprites/gen5/arceus.png');}ul.gPLA li {text-shadow: 0 0 .125em #ffffff,0 0 .125em #ffffff,0 0 .125em #ffffff;}
ul.gScar {background-color: #aa1111;border-color: #dddd00;
background-image:linear-gradient(rgba(255,255,255,0), rgba(255,99,0,.3)), url('https://play.pokemonshowdown.com/sprites/gen5/koraidon.png');}ul.gScar li {color:#eeeeee;}
ul.gViol {background-color: #5500dd;border-color: #dddd00;
background-image:linear-gradient(rgba(255,255,255,0), rgba(255,255,0,.3)), url('https://play.pokemonshowdown.com/sprites/gen5/miraidon.png');}ul.gViol li {color:#eeeeee;}

div#popup {
	display: none;
	background-color: #9999bb;
	border: .25em solid #555588;
	/* border-style: outset; doesn't fucking work and I don't know why, it's identical to the container above it */
	margin: .5em 30% 0 30%;
	padding: 1em;
	text-align: center;
}
div.popupgrouping {
	margin-bottom: .5em;
}
div.popupgrouping:last-child {
	margin-bottom: 0;
	text-align: center;
}
.popupgrouping label {
	font-family: 'Helvetica', sans-serif;
	font-size: 1em;
}

ol { /*ol container contains multiple li elements*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 1em 0 1em;
}
ol li {
	display: flex;
	margin-bottom: 1em;
	border: 1px solid red;
	padding: .2em;
}
span.numbah {
	font-size: .5em;
}
p.dexentry { /*font changes only*/
	color: pink;
	line-height: .8em; /*ensure ♂ and ♀ characters do not oversize box height*/
}

/* Tint images grayscale with: https://stackoverflow.com/questions/43938860/how-to-tint-image-with-css */


/* there is a 3 px padding beneath this and I can't figure out why
span.pluscircle {
	height: 3em;
	width: 3em;
	background-color: #00aa00;
	border-radius: 50%;
	display: inline-block;
	margin: 0 1em 0 0;
}*/